<!DOCTYPE html>
<html>
<style>
span{
  font-size: 25px;
  color: #ffff;
  background-color: #2881DB;
  padding: 10px;
}
div{
  font-size: 25px;
  color: #ffff;
  background-color: #2881DB;
  padding: 50px;
}
</style>
<script>
$(document).ready(function(){
  $("#backtohome").click(function(){
    window.location.href='/logout';
  });
});
</script>
<body>
<span>Welcome : <%= profileData.name %> Your profile is Completed following is your details<br></span>
<div>
            Email:     <%= profileData.email %><br>
            Phone:    <%= profileData.phone %><br>
            Level:    <%= profileData.level %><br>            
            Education:    <%= profileData.education %><br>
            AOI:          <%= profileData.aoi %><br>
            Status:          <%= profileData.status %><br>
<div>
<button class="w3-btn w3-blue" id="backtohome">Logout</button></p>
</body>
</html>